.z36gb9f-af:not(#_):not(#_):not(#_) {color: hsla(50.44,97.85%,63.53%,100%);}

home-z36gb9f-aj { display:block; }
body {background-color: hsla(215.00,27.91%,16.86%,100%);}

:root {--about: 1;}

.z1vblpf9-ag:not(#_):not(#_):not(#_) {color: hsla(120.00,100.00%,25.10%,1);
background: hsla(47.95,95.82%,53.14%,100%);}

app-z1vblpf9-ai { display:block; }
my-timer { display:block; }
.z1w8l40s-ag:not(#_):not(#_):not(#_) {background: hsla(22.73,82.50%,31.37%,100%);
color: hsla(0.00,0.00%,83.14%,100%);
padding: 2rem;}

my-counter { display:block; }
:root {--shared: 1;}
