test-runner {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	bottom: 0px;
	padding: 8px;
	background: whitesmoke;
	width:100%;
}
html,body {
	padding: 0px;
	margin: 0px;
}

body {
	background: whitesmoke;
	padding-top:20px;
}