.DS_Store
.cache
.imba-cache
.vscode

tmp
test/perf
test/dist
packages/imba/test/cli/examples/dist

npm-debug.log
lerna-debug.log
test/attic
test/tmp
*.tmp.js
*.tgz
test/node_modules
node_modules
/lib
build/
dist/
.imba
*.imba.mjs
*.imba.js
*.imba.web.js
test/index.js
test/apps/**/*.js
