.DS_Store
.cache
.imba-cache

tmp
test/perf
test/dist
attic/*
npm-debug.log
lerna-debug.log
dist/imba.edge.*
/determinator.json
test/webpack/js/**/*.js
test/attic
test/tmp
*.tmp.js
*.tgz
test/node_modules
node_modules
!test/node_modules/imba
!test/node_modules/imba2
lib/
build/
dist/
dist2/
.imba
*.imba.mjs
*.imba.js
*.imba.web.js
test/index.js
test/apps/**/*.js
