.DS_Store
.cache
.imba-cache
.vscode/*
!.vscode/launch.json

tmp
test/perf
test/dist
npm-debug.log
lerna-debug.log
test/attic
test/tmp
test/basic-app/old
*.tmp.js
*.tgz
test/node_modules
node_modules
/lib
build/
dist/
.imba
*.imba.mjs
*.imba.js
*.imba.web.js
test/index.js
test/apps/**/*.js
