html,body {
width: 100%;
height: 100%;
margin: 0px;
}

body {
    display: flex;
}

div {
    border: 1px solid red;
    padding: 2px;
    margin: 2px;
}
.vbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.grid {
    display: grid;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

section {
    display: grid;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

header,footer {
    display: grid;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

input {
    display: block;
    padding: 0px 6px;
    font-size: inherit;
    width: auto;
    height: 30px;
}


input[type=checkbox],
input[type=radio] {
    width: initial;
    flex: 0 0 auto;
    margin: 4px;
    height: auto;
}

.pill {
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px;

    
}

.pill > * {
    display: inline-block;
}

div,form,header,footer,section,input,button,nav,aside,article {
    box-sizing: border-box;
    margin: 0;
}

div,section,input,ul,main,article,.grow {
    flex: 1 1 auto;
}

button {
    -webkit-appearance: none;
    background: #4a95eb;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    padding: 2px 10px;
    border-radius: 2px;
    color: white;
    flex: 0 0 auto;
    height: 30px;
}

button:hover {
    background: #3a8eef;
}

header,footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

ul,.list {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

li,.list > * {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

li.done {
    text-decoration: line-through;
    font-style: italic;
}