:root {
    --nav-bg: #202B31;
    --nav-color: #73acfe;
    --nav-active-color: #ffffff;
    --section-padding: 12px;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Arial;
}

body {
    display: flex;
}

div.debug {
    border: 1px solid red;
    padding: 2px;
    margin: 2px;
}
.vbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.grid {
    display: grid;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

header,footer {
    display: grid;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

header a {
    margin: 6px 6px;
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
}

a.active {
    color: red;
}

input {
    display: block;
    padding: 0px 6px;
    font-size: inherit;
    width: auto;
    height: 30px;
}


input[type=checkbox],
input[type=radio] {
    width: initial;
    flex: 0 0 auto;
    margin: 4px;
    height: auto;
}

.pill {
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px;

    
}

.pill > * {
    display: inline-block;
}

div,form,header,footer,section,input,button,nav,aside,article {
    box-sizing: border-box;
    margin: 0;
}

div,section,input,ul,main,article,.grow {
    flex: 1 1 auto;
}

button {
    -webkit-appearance: none;
    background: #4a95eb;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    padding: 2px 10px;
    border-radius: 2px;
    color: white;
    flex: 0 0 auto;
    height: 30px;
}

button:hover {
    background: #3a8eef;
}

header,footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

ul,.list {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

li,.list > * {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

li.done {
    text-decoration: line-through;
    font-style: italic;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.Page {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: [aside] 200px [main] auto [inspector] 200px;
    grid-template-rows: 40px auto 40px;
    height: 100%;
}

nav {
    flex: 0 0 auto;
    background: var(--nav-bg);
    color: var(--nav-color);
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    padding: 4px;
    color: var(--nav-color);
    text-decoration: none;
}

nav a.active {
    color: var(--nav-active-color);
}

aside {
    grid-area: 1 / 1 / 4 / 2;
    background: whitesmoke;
    overflow: auto;
}

nav ~ aside {
    grid-area: 2 / 1 / 4 / 2;
}

.main {
    grid-area: 2 / 2 / 4 / 4;
}

aside input {
    width: 100%;
}

section {
    padding: var(--section-padding);
}

.entries {
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    list-style: none inside none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.entry {
    padding: 6px 12px;
    position: relative;
    cursor: default;
}
.entry a {
    text-decoration: none;
    cursor: default;
}

.entry:hover {
    background: #efefef;
}

.entry > * {
    position: relative;
}

.entry ._navlink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.entry.active {
    background: #efefef;
}

.Page {
    --nav-bg: #404d56;
}

.Page > nav {
    grid-area: 1 / 1 / 1 / 4;
    background: #404d56;
}

