html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	padding: 20px;
	box-sizing: border-box;
}

form,section {
	flex: 1 1 50%;
    display: block;
    width: 50%;
}

.app {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
}

input,button,select {
	font-size: 15px;
}

select,input:not([type=checkbox]):not([type=radio]):not([type=range]) {
	width: 200px;
	display: block;
}

select {
	display: block;
}

#controls {
	width: 200px;
}