# build and test on linux, windows, mac with node  14, 16, 18
name: E2E tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  
  # this is the test matrix, it runs with node16 on linux,windows,macos + node14,18 on linux
  # it is skipped if the build step of the checks job wasn't successful (still runs if lint or audit fail)
  test:
    timeout-minutes: 20
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [18]
        os: [ubuntu-latest, macos-latest, windows-latest]
        # include:
        #   - node: 14
        #     os: ubuntu-latest
        #   - node: 18
        #     os: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: build imba
        run: |
          cd packages/imba
          npm install
          npm run build
          npm link
        env:
          CI: true
      - name: run tests
        run: |
          cd packages/e2e-tests
          npm ci --force
          npm run test:serve
          npm run test:build
      - name: archive tests temp directory
        if: failure()
        shell: bash
        run: tar -cvf test-temp.tar  --exclude="node_modules"  temp/
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-failure-${{github.run_id}}-${{ matrix.os }}-${{ matrix.node }}
          path: |
            test-temp.tar
