@font-face {
	font-family: "codicon";
}

.codicon[class*='codicon-'] {
	font: normal normal normal 15px/1 codicon;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a {
	margin-top: 10px;
}

b {
	margin-top: 10px;
}